<!DOCTYPE html>
<html>
  <head>
    <title>Picshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bulma' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
         <div class="navbar-start">
           <h2 class="title"><%= link_to 'PicShare', root_path %></h2>
         </div>
        <% if current_user %>
          <div class="navbar-item">
            <%= current_user %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Log Out', :logout %>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to 'Log In', :login %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Sign Up', :signup %>
          </div>
        <% end %>
      </nav>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
      <p><%= link_to 'Back to home', root_path %></p>
  </div>
  </body>
</html>
